[run]
branch = True
source = aldryn_video
omit =
    aldryn_video/south_migrations/*
    aldryn_video/migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.: