include LICENSE.txt
recursive-include aldryn_video/boilerplates *
recursive-include aldryn_video/locale *
recursive-include aldryn_video/migrations *
recursive-include aldryn_video/south_migrations *
recursive-include aldryn_video/templates *
recursive-include aldryn_video/static *
recursive-exclude * *.pyc
